* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  background-color: #6872b7;
  color: #fff;
  text-shadow: 2px 2px 8px #000000a1;
  border: 1px solid black;
  font-family: "Poetsen One", sans-serif;
}

h1 {
  font-family: "Acme", sans-serif;
  font-size: 3rem;
}

.weather-container {
  display: flex;
  background-color: #000;
  min-width: 300px;
}
